@import "tailwindcss";

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: "JosefinSans";
  font-size: 15px;
}

::selection {
  background-color: #2b7fff;
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no repeat radical-gradient(farthest-side, #ffa500, #fb8c00);
  background: var(--_g) 50% 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 35% calc(35% * 1.154);
  animation: l16 1s infinite;
}

.poppins {
  font-family: "Poppins";
}

@keyframes l16 {
  50%,
  100% {
    background-position: 10% 10%, 50% 0, 0 100%;
  }
}
